
# O, si quieres ignorar el contenido de carpetas específicas de ROMs:
Roms/DS/*
Roms/GameCube/*
Roms/GBA/*
# Añade aquí las carpetas de ROMs de otras consolas que tengas

# También puedes ignorar archivos de ROM específicos por extensión:
*.nds
*.iso
*.gba
*.gb
*.gbc
*.dsv

# Añade aquí otras extensiones de archivos de ROM que utilices